body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title, .header {
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 30%;
    color: rgb(146, 177, 202);
}

.header {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(146, 177, 202);
}

.board {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 8px;
    padding: 16px;
    margin: auto;
}

.cell, dialog button {
    background-color: rgb(146, 177, 202);
    border: none;
    border-radius: 4px;
    color: rgb(252, 246, 239);
    cursor: pointer;
}

dialog {
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    height: 150px;
    width: 400px;
}

dialog h1, dialog button {
    color: rgb(146, 177, 202);
}

dialog button {
    color: rgb(252, 246, 239);
    padding: 8px;
}